:root {
    /*大字体，主要用于导航栏名称*/
    --font-size-xl: 20px;
    /*大号字体*/
    --font-size-lg: 18px;
    /*强调性文件，大一号字体，一般用于各类列表标题名称*/
    --font-size-md: 16px;
    /*正常字体，用于各类正文文字*/
    --font-size-sm: 14px;
    /*小字体，一般用于各类提示性文字*/
    --font-size-xs: 12px;
    /* 系统主要颜色 */
    --mainColor: #406dfc;
    /* 输入框高度 */
    --inputHeight: 30px;
    /* 普通li高度 */
    --liHeight: 40px;
    /* 控件和标签排列顺序,row是在一行，column则标签在输入内容上方 */
    --showDirection: column;
    /* 输入表单label在横向时所占整行宽度比例 */
    --form-label-width: 18%;
    /* 输入表单label颜色 */
    --form-label-color: #2c3e50;
    /* 输入框中清除按钮颜色 */
    --clear-button-color: #ccc;
    /* 各类输入、选择等背景颜色 */
    --form-field-color: white;
}